.root {
    margin: auto;
    width: 80%;
    height: 150px;
    border: 1px solid gray;
    padding: 30px;

}

.pill {
    margin: 20px;
    padding: 2px 15px;
    border: 1px solid gray;
    border-radius: 25px;
}

.title{
    text-decoration: none;
    font-size: 40px; 
    color: #4796F8;
}

.title:hover{
    text-decoration: underline;
}
